@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Quicksand", serif;
}

/*===== 
    ***** CSS VARIABLES *****
=====*/
:root {
  --orange: #fea301;
  --american-yellow: #f0aa00;
  --sky-blue: #01acfd;
  --maya-blue: #64c8ff;
  --turquoise: #3cd8e8;
  --sea: #05d4df;
  --mojarella-blue: #5d58ef;
  --electric-violet: #8700ff;
  --citron: #95b226;
  --black: #111111;
  --white: #ffffff;
}

/*========== 
    ***** COMMON STYLES *****
==========*/
.container {
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;
}
.btn {
  padding: 10px 50px;
  border-radius: 12px;
  border: none;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
}
.raleway {
  font-family: "Raleway", serif;
  font-size: 1rem;
  line-height: 1.6rem;
}
.section-title {
  font-size: 2.5rem;
  padding: 3.8rem 0;
}
h1 {
  font-size: 3.5rem;
  line-height: 4.2rem;
  font-weight: 700;
  color: var(--black);
}
h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

/*==========
    ***** NAVIGATION SECTION *****
==========*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.logo h3 {
  font-size: 2rem;
  font-weight: 700;
}
.nav-links ul {
  display: flex;
  gap: 24px;
}
.nav-links li {
  list-style: none;
  font-size: 1.2rem;
}
.nav-links li:nth-child(1) {
  color: var(--sky-blue);
  font-weight: 700;
}
.nav-links li:nth-child(2) {
  color: var(--sky-blue);
}
.nav-links li:nth-child(3) {
  color: var(--sea);
}
.nav-links li:nth-child(4) {
  color: var(--mojarella-blue);
}
.navigation button {
  background-color: var(--sky-blue);
}
.mobile-nav {
  display: none;
}

/*==========
    ***** HERO SECTION *****
==========*/
.hero-section {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero-text-org {
  color: var(--orange);
}
.hero-text-sky {
  color: var(--sky-blue);
}
.hero-left p {
  margin: 1rem 0;
}
.hero-left button {
  background-color: var(--black);
  margin-top: 1rem;
}
.hero-right img {
  width: 100%;
}

/*==========
    ***** CURRICULUM SECTION *****
==========*/
.curriculum {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.curriculum-card-container {
  display: flex;
  gap: 1.5rem;
  /* align-items: center; */
}
.curriculum-card {
  padding: 3rem 2rem;
  border-radius: 18px;
  background-color: var(--white);
}
.curriculum-card:nth-child(1) {
  background: linear-gradient(
    180deg,
    rgba(222, 245, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
  border: 1px solid #def5ff;
  background-color: var(--white);
}
.curriculum-card:nth-child(2) {
  background: linear-gradient(
    180deg,
    rgba(255, 244, 220, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
  border: 1px solid #fff4dc;
  background-color: var(--white);
}
.curriculum-card:nth-child(3) {
  background: linear-gradient(
    180deg,
    rgba(238, 225, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
  border: 1px solid #f2e8ff;
  background-color: var(--white);
}
.curriculum-card h3 {
  margin: 1rem 0;
}
.curriculumn-button {
  margin-top: 2rem;
  font-size: 1rem;
}
.cb-1 {
  color: var(--maya-blue);
}
.cb-2 {
  color: var(--american-yellow);
}
.cb-3 {
  color: var(--electric-violet);
}
.arrow-buttons {
  padding-top: 2rem;
}
.arrow-buttons i {
  font-size: 1.2rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 50%;
}
/*===================================
    =============================
    ***** MOBILE RESPONSIVE *****
    =============================
=====================================*/

@media only screen and (max-width: 576px) {
  .container {
    max-width: auto;
    padding: 0 30px;
  }
  h1 {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  p {
    font-size: 1rem;
  }
  .btn {
    font-size: 1.1rem;
  }
  .section-title {
    font-size: 1.8rem;
  }
  /*==========
    ***** NAVIGATION SECTION *****
==========*/
  .navigation {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--orange);
  }
  .mobile-nav i {
    font-size: 2rem;
  }
  /*==========
    ***** HERO SECTION *****
==========*/
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /*==========
    ***** CURRICULUM SECTION *****
==========*/
  .curriculum {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .curriculum-card-container {
    flex-direction: column;
  }
  .curriculum-card {
    padding: 3rem 2rem;
  }
  .arrow-buttons {
    display: none;
  }
}
